@use '../../assets/sass/abstracts/' as *;

.imageSlider {
    padding: 2rem;
    position: absolute;
    width: 100%;
    height: 100svh;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(black, .8);
    display: flex;
    align-items: end;

    .closePositions {
        position: absolute;
        top: 14%;
        right: 2%;

    }

    // .arrowPosition {
    //     @include md {
    //         top: 50%;
    //         position: absolute;
    //     }
    // }





    .slider-content {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        @include md {
            height: 100%;
        }

        .arrow-position-left {
            flex-shrink: 0;
            @include md {
                top: 45%;
                left: 1%;
            }

        }

        .arrow-position-right {
            flex-shrink: 0;
            @include md {
                top: 45%;
                right: 1%;
            }

        }

        .slider-content-image {
            height: inherit;
            
            img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    // display: inline-block;
                }

        }
        

    }


}

