@use '../../assets/sass/abstracts/variables' as *;

.iconContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.2rem;

    .rope-image {
        width: 40%;
            height: auto;
    }

    .line {
        height: 2px;
        background-color: $color-accent-gold;
        flex-grow: 1;
    }

    .anchor-icon {
      width: 50px;
      height: auto;
      transform: rotate(20deg);
      object-fit: contain;
      margin: 0 auto;
    }

}