@use '../abstracts/' as *;

.listingDetails {

    .contact-aside {
        position: fixed;
        bottom: 3%;
        right: 1%;
        z-index: 999;

        @include md {
            right: 4%;
            bottom: 2%;
        }

        &:hover,
        &:focus {
            cursor: pointer;
        }

        .salesRep-popup {
            position: fixed;
            bottom: 13%;
            right: 1%;

            @include md {
                right: 0;
                bottom: 14%;
            }
        }

        .message-close {
            width: 70px;
            height: 70px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            background-color: rgba($color-accent-sky, .7);

            @include md {
                height: 50px;
                width: 50px;
            }

            .message-clsoe-icon {
                color: $color-text-secondary;
                // position: relative;
                width: 35px;
                height: 35px;

                @include md {
                    width: 30px;
                    height: 30px;
                }

            }
        }



        .brokerImage-icon {
            
            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                border-radius: 50%;
                display: block;
            box-shadow: rgba($color-accent-gold, 0.3) 0px 2px 15px 13px;

                @include md {
                    width: 50px;
                    height: 50px;
                }
            }

        }


    }


    .go-back {
        border: none;
        background-color: transparent;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: .2rem;

    }

    .listingDetails-title-bg {
        margin-top: 80px;
        background: url('/compass.svg') no-repeat;
        background-size: contain;
        background-position: center;

    }

    //change the styles so that it looks good on all screen sizes.
    h1 {

        span {
            position: relative;

            &::after {
                position: absolute;
                background-color: rgba($color-accent-gold, .4);
                content: '';
                width: 98%;
                height: 35%;
                left: 8%;
                bottom: 5%;
                z-index: -1;

                @include sm {
                    // display: none;
                }
            }

            @include sm {
                // text-decoration: underline rgba($color-accent-gold, .4);
                // text-decoration-thickness: 5px;
            }

        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;


        &__info {
            display: flex;
            gap: 1rem;

            @include md {
                flex-direction: column;
                align-items: flex-start;
            }

            .info-location {
                display: flex;
                align-items: center;
                gap: .3rem;
            }
        }

    }


    &__description {
        margin: 0 auto;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        .description-title {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 1rem;

            @include md {
                margin-top: 1rem;
            }

            .line {
                height: 1px;
                background-color: $color-accent-gold;
                flex-grow: 1;
            }
        }

        .description-content {
            display: flex;

            @include md {
                flex-direction: column;
            }


            .boat-description {
                flex: 3;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @include md {
                    padding: 0 1rem 2rem;
                }
            }

            .boat-salesRep {
                height: fit-content;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                @include md {
                    margin-bottom: 2rem;
                }

                .salesRep-title {
                    padding: .8rem;
                    background-color: $color-background-light-grey;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .7rem;

                }

                .salesRep-body {
                    padding: 0 1rem;

                    .salesRep-image {

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 5%;
                            object-fit: cover;
                            // border: 1px solid red;
                        }

                        figcaption {
                            margin-top: 1rem;
                            display: grid;
                            place-items: center;
                        }
                    }


                    .contact-types {
                        width: 100%;
                        padding: 0 1rem;
                        margin: 1rem 0;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        a {
                            padding: .5rem .8rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: .7rem;
                            outline: 1px solid $color-accent-gold;

                            &:hover {
                                background-color: rgba($color-accent-gold, .3);
                            }



                        }
                    }

                }


            }

        }



        .listingDetails-button-container {
            display: flex;
            gap: 1rem;
            justify-content: end;

            .call-button {
                @include customButtonStyle($color-accent-gold, $color-text-secondary, $color-text-primary)
            }

            .email-button {
                @include buttonStyleSimple()
            }

        }
    }
}