@use '../../assets/sass/abstracts/' as *;

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    gap: 2rem;



    .form-field {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        input,
        textarea {
            width: 100%;
            padding: .8rem;
            border-radius: 5px;
            outline: none;
            border: 1px solid $color-accent-gold;
            background-color: rgba(#fff, .8);

            &:focus, &:active {
                        border: 2px solid #1e3a8a;
                        outline: none;
            }
         
        }

        textarea {
            min-height: 15rem;
        }

        .invalid {
            border: 2px solid #dc2626;
            box-shadow: 1px 1px 4px #dc2626;

            &:focus,
                &:active {
                    border: 2px solid #dc2626;
                    outline: none;
                }
        }

        .info-error {
            color: #dc2626;
            display: flex;
            align-items: center;
            gap: .3rem;
        }

    }

    .w50 {
        width: 45%;

        @include md {
            width: 100%;
        }
    }

    .w100 {
        width: 100%;
    }


    .button-container {
        display: flex;
        justify-content: flex-end;

        .active-button {
            @include customButtonStyle($color-accent-gold, $color-text-secondary, $color-text-primary)
        }

        .disable-button {
                @include customButtonStyle(rgba(grey, .4), rgba($color-text-primary, .5), $color-text-primary)
        }
    }


}