//Color Palette
// $color-primary: #EEEEEE; 
$color-primary: #E8E7F6;
$color-primary-transparent: rgba(#E8E7F6, .2);
$color-accent-gold: #D2A979;
$color-accent-yellow: #DA9517;
$color-accent-blue: #C0E7FE;
$color-accent-sky: #0369a1; 
$color-background-navy: #021C33;
$color-background-light-grey: #F4F2ED;
$color-background-light-blue: #e6f2f8;
$color-background-white: #fff;


$color-text-primary: #212427; // black
$color-text-secondary: #FAF9F6; // white
// $color-text-links: #0645AD; // Hyperlink color