@use '../../assets/sass/abstracts/' as *;

   .listingDetails__images {
       background-color: $color-background-light-grey;
       padding-bottom: 5rem;


       &__main {
           margin: 0 auto;
           width: 100%;
           height: 800px;
           // aspect-ratio: 4/2;
           margin-bottom: 2rem;

           @include md {
               display: none;
           }

           img {
               width: 100%;
               height: 100%;
               object-fit: cover;
               object-position: center;
           }
       }



       &__slider {
           display: flex;
           align-items: center;
           gap: 1rem;
           width: 100%;
           // height: fit-content;

           @include md {
               display: none;

           }

           .slider-container {
               width: 100%;
               overflow-x: scroll;
               display: flex;
               gap: 1rem;
               scroll-behavior: smooth;

               @include md {
                   display: none;
               }

               .image-container {


                   img {
                       width: 200px;
                       height: 150px;
                       object-fit: cover;
                       object-position: center;
                   }
               }
           }
       }


       &__mobile {

           @include mdMinWidth {
               display: none;
           }

           .main-image {
               width: 100%;
               padding: 2rem 0;
               position: relative;

               img {
                   display: block;
                   width: 100%;
                   height: auto;
                   border-radius: 5px;
                   object-fit: contain;
               }

               .arrowLeftPositon {
                   position: absolute;
                   top: 45%;
                   left: 0;
               }

               .arrowRightPositon {
                   position: absolute;
                   top: 45%;
                   right: 0;
               }
           }

       }

       .boat-specs {
           background-color: white;
           max-width: 1600px;
           margin: 0 auto;
           padding: 2rem;
           width: 60%;
           border-radius: 5px;
           display: grid;
           grid-template-columns: repeat(3, 1fr);
           gap: 1rem;

           @include md {
               grid-template-columns: repeat(2, 1fr);
           }


           .spec-wrapper {
               display: flex;
               align-items: center;
               gap: .8rem;
               // border: 1px solid blue;


               .spec-icon {
                   color: $color-accent-sky;
                   width: 40px;
                   height: auto
               }
           }



           @include md {
               width: 90%;
           }
       }

   }